<h1>EmberOONI</h1>
{{#x-select value=bob action=(action 'setCountry') as |xs|}}
  {{#xs.option value=null}}

    {{if country 'Clear filter' 'Filter by country'}}
  {{/xs.option}}
  {{#xs.option value=null disabled=true}}---{{/xs.option}}

  <optgroup label="Countries with measurements">
    {{#each uniqCountries as |country|}}
      {{#xs.option value=country.country}}{{country.country}}{{/xs.option}}
    {{/each}}
  </optgroup>

  <optgroup label="All countries">
  {{#each countryList as |country|}}
    {{#xs.option value=country.iso2}}{{country.name}}{{/xs.option}}
  {{/each}}
  </optgroup>
{{/x-select}}

<div>
{{#if filtered.length}}
  {{#if country}}
    <p>{{filtered.length}} measurements for {{country}}</p>
  {{else}}
    <p>{{filtered.length}} measurements in total</p>
  {{/if}}
{{else}}
  <p>There are no measurements for {{country}}. Displaying all instead</p>
{{/if}}
</div>

<ul>
{{#each timeline as |time|}}
  <li>{{time.day.prettyDate}}</li>

  <ul>
    {{#each time.files as |file|}}
      <li>{{file.testStartTime}}</li>
    {{else}}
      <li>nothing (yet?)</li>
    {{/each}}
  </ul>
{{/each}}
</ul>

{{outlet}}
